body {
  background: rgb(73, 73, 73);
  overflow: hidden;
  font-family: 'lato', sans-serif;
  margin: 0;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease !important;
}

.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
  transform: translateY(100px);
}

.slide-card-enter-active, .slide-card-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease !important;
}

.slide-card-enter, .slide-card-leave-to {
  opacity: 0;
  transform: translateY(120px) !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.blur {
  display:block;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, .5);
  transition: backdrop-filter 0.3s ease;
}

.username {
  position: absolute;
  display: flex;
  align-items: center;
  top: 16px;
  right: 10px;
  min-width: 80px;
  max-width: 200px;
  margin-right: 8px;
  padding: 8px;
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.room {
  position: absolute;
  display: flex;
  align-items: center;
  top: 16px;
  left: 10px;
  font-size: 24px;
  color: darkgray;

  &__label {
    margin-right: 8px;
  }

  &__number {
    min-width: 80px;
    max-width: 200px;
    margin-right: 8px;
    padding: 8px;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__join {
    margin-right: 8px;
    padding: 8px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    outline: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__copy {
    padding: 6px;
    background: transparent;
    border: none;
    border-radius: 8px;
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    outline: none;

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      opacity: 1;
      background-color: grey;
    }
  }
}

.container {
  display: flex;
  height: 100vh;
}

$table-size: 300px;

.table {
  position: relative;
  width: $table-size;
  height: $table-size;
  margin: auto;
  border-radius: 50%;
  background: rgb(56, 56, 56);
  box-shadow: 0 0 12px 0 #383838;
  top: -100px;

  &__cta {
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    background-color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;
    transition: box-shadow 0.3s ease, opacity 0.3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
      opacity: 1;
    }
  }
}

$user-size: 80px;

.user {
  width: $user-size;
  height: $user-size;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - #{$user-size + 8}/2);
  left: calc(50% - #{$user-size + 8}/2);
  font-size: 32px;
  font-weight: bold;
  background: white;
  border: 4px solid white;
  transition: transform 1s;
  cursor: default;

  &--self {
    border-color:white !important;
    .user__name {
      top: 22px;
    }
  }

  &:hover {
    .user__tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    position: relative;
    top: 22px;
    right: 0;
    text-align: center;
    color: white;
  }

  &__tooltip {
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: -88px;
    left: 16px;
    padding: 8px;
    width: fit-content;
    border-radius: 8px;
    white-space: nowrap;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999999;

    &:before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 28px;
      left: 17px;
      background: black;
      transform: rotate(45deg);
    }
  }

  &__card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 64px;
    top: 121px;
    right: 126px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);

    &-number {
      font-size: 32px;
    }
  }

  &__table-cards {
    display: inline-flex;
    top: 50%;
    left: 50%;
  }
}

.cards-deck {
  position: absolute;
  width: 100%;
  bottom: -70px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-70px);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 96px;
    border-radius: 8px;
    border: 4px solid white;
    background-color: white;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.6;

    &:hover {
      transform: translateY(-20px);
      opacity: 1;
    }
  
    &+& {
      margin-left: 16px;
    }
  
    &-number {
      font-size: 48px;
    }
  
    &--selected {
      transform: translateY(-20px);
      border-color: black;
      opacity: 1;
    }
  }
}



.chat {
  position: absolute;
  width: 400px;
  height: 500px;
  max-height: 100vh;
  right: 0;
  bottom: 0;
  background-color: darkgray;

  &__message {

  }

  &__input {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    input {
      padding: 16px;
      width: 100%;
      height: 48px;
      margin-right: 8px;
    }

    button {
      width: 80px;
    }
  }
}
